.portfolio__container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item{
  backdrop-filter: blur(10px);
  box-shadow: 0 0.02em 0.7em rgb(156, 156, 156);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover{
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.004);
}


.portfolio__item-image{
height: 180px; 
  width: 100%;
  border-radius: 1.5rem;
  overflow: hidden; 
  object-fit: cover;
}

.portfolio__item h3{
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.portfolioBtn{
  cursor: pointer;
  color: var(--color-white);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0.05em 0.5em rgb(156, 156, 156);
  transition: var(--transition);
  padding: 1rem 1.2rem;
  border-radius: 0.4rem;
}

.portfolioBtn:hover{
  background-color: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 0.15em 2em rgb(156, 156, 156);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0.1em 0.8em rgb(156, 156, 156);
  transform: scale(1.08);
}

/* Medium Queries (Medium Devices - TABLETS */

@media screen and (max-width: 1024px) {
.portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap:1.2rem;
}

}

@media screen and (max-width: 600px) {
.portfolio__container {
    grid-template-columns: 1fr;
    gap:1rem;
}

}
