header {
  height: 100vh;
  padding-top: 4rem;
  overflow: visible;
  
}

.header__container {
  text-align: center;
  position: relative;
  line-height: 1.8;
}

.presentation {
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  box-shadow: 0 0.02em 0.7em rgb(156, 156, 156);
  border: 1px solid transparent;
  border-radius: 1rem;
  margin: -3rem 6rem 3rem;
  padding: 3.1rem;
  text-align: center;
  transition: transform 0.9s;
}

.header__container > h1 {
  background: linear-gradient(to right, rgb(246, 197, 230), rgb(74, 2, 50));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient-animation 5s infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}

.text-light {
  font-style: italic;
  font-size: 20px;
  color: var(--color-primary);
}

/* ======== CTA ======= */
.cta {
  margin-top: 2rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ======== Header Socials ======= */

.header__socials::before {
  content: "";
  width: 1px;
  height: 2rem;
  background: rgb(249, 187, 228);
  
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 15rem;
  /* box socials */
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
  border-radius: 0.2rem;
  padding: 0.5rem 0.2rem;
}

.header__socials a {
  color: white;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: rgb(246, 197, 230);
}

/* ======== ME ======= */

.me {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 80%);;
  width: 25rem;
  height: 20rem;
  position: relative;
  left: calc(50% - 11rem);
  margin-top: 3rem;
  border-radius: 4rem;
  overflow: hidden;
  padding: 1.5rem 0.3rem;
}

/* ======== SCROLL DOWN ======= */

.scroll__down {
  position: absolute;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.4rem;
  padding: 0.3rem;
  right: -2.4rem;
  bottom: 17rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

.ctaBtn{
  cursor: pointer;
  backdrop-filter: blur(40px);
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0.05em 0.5em rgb(156, 156, 156);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
}

.ctaBtn:hover{
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.1em 1em rgb(156, 156, 156);
  transform: scale(1.05);
}

/* Medium Queries (Medium Devices - TABLETS */

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* Medium Queries (Small Devices - TABLETS */

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}
